<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8de82bfee9.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>

<body>
    <header>
        <div id="navbarHeader">
            <div id="logoHeader">
                <img src='images/logo-mercado-liebre.svg' />
            </div>
            <div class="form" action="#" method="GET">
                <input type="search" id="inputSearch" placeholder="Buscar productos, marcas y más    ">
                <div class="submit" id="searchIcon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div id="textHeader">
                <p>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    compra en cuotas y sin tarjeta de credito
                </p>

            </div>
        </div>
        <nav id="navbar">
            <ul id="navbarMenu">

                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Virtuales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul id="navbarCuenta">
                <li><a href="#">Creá tu cuenta </a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href="#">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>

        </nav>
        <div id="hamburgerIcon">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <section id="ultimavisita">
            <h1 class="titulo">Basado en tu ultima visita</h1>
            <div class="products">
                <article>
                    <img src='images/img-cafetera-moulinex.jpg' />
                    <div class="article">
                        <i class="fas fa-truck "></i>
                        <div class="precioDescuento">
                            <p class="precios">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src='images/img-macbook-pro-2019.jpg' />
                    <div class="article">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <p class="precios">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="descripcion">Macbook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img src='images/img-samsung-galaxy-s10.jpg' />
                    <div class="article">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <p class="precios">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>

                </article>
                <article>
                    <img src='images/img-tv-samsung-smart.jpg' />
                    <div class="article">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <p class="precios">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section id="ofertas">
            <h1 class="titulo">Ofertas</h1>
            <div class="products">
                <article>
                    <img src='images/img-cafetera-moulinex.jpg' />
                    <div class="article">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <p class="precios">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src='images/img-macbook-pro-2019.jpg' />
                    <div class="article">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <p class="precios">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="descripcion">Macbook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img src='images/img-samsung-galaxy-s10.jpg' />
                    <div class="article">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <p class="precios">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>

                </article>
                <article>
                    <img src='images/img-tv-samsung-smart.jpg' />
                    <div class="article">
                        <i class="fas fa-truck"></i>
                        <div class="precioDescuento">
                            <p class="precios">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>

        <div id="footerDescription">
            <section>
                <i class="fa-solid fa-credit-card" id="iconCreditCard"></i>
                <p class="cuerpotexto"><b>Paga con tarjeta o en efectivo</b> </p><br>
                <p class="cuerpotexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift " id="iconGift"></i>
                <p class="cuerpotexto"><b>Envio gratis desde $2500</b> </p><br>
                <p class="cuerpotexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield" id="iconShield"></i>
                <p class="cuerpotexto"><b>Seguridad de Principio a fin</b> </p><br>
                <p class="cuerpotexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>

        <section id="Copyright">
            <p class="cuerpotexto">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
            <p class="cuerpotexto"> Luis Javier Iglesias 2022 </p>
        </section>
    </footer>


</body>

</html>