<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleLogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8de82bfee9.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>

<body>
    <header>
        <div id="navbarHeader">
            <div id="logoHeader">
                <a href="/"><img src='images/logo-mercado-liebre.svg' /></a>
            </div>
            <div class="form" action="#" method="GET" enctype="multipart/form-data">
                <input type="search" id="inputSearch" placeholder="Buscar productos, marcas y más    " required>
                <button type="submit" id="searchIcon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div id="textHeader">
                <p>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    compra en cuotas y sin tarjeta de credito
                </p>

            </div>
        </div>
        <nav id="navbar">
            <ul id="navbarMenu">

                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="#">Tiendas Virtuales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul id="navbarCuenta">
                <li><a href="/registro">Creá tu cuenta </a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>

        </nav>
        <div id="hamburgerIcon">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <form method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Nombre de usuario" required>
            <input type="password" placeholder="Contraseña" required>
            <input  id="botonEnviar" type="submit" value="Enviar">
        </form>
    </main>
    <footer>

        <div id="footerDescription">
            <section>
                <i class="fa-solid fa-credit-card" id="iconCreditCard"></i>
                <p class="cuerpotexto"><b>Paga con tarjeta o en efectivo</b> </p><br>
                <p class="cuerpotexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift " id="iconGift"></i>
                <p class="cuerpotexto"><b>Envio gratis desde $2500</b> </p><br>
                <p class="cuerpotexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield" id="iconShield"></i>
                <p class="cuerpotexto"><b>Seguridad de Principio a fin</b> </p><br>
                <p class="cuerpotexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>

        <section id="Copyright">
            <p class="cuerpotexto">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
            <p class="cuerpotexto"> Luis Javier Iglesias 2022 </p>
        </section>
    </footer>


</body>

</html>