#botonEnviar {
  background-color: #1259c3;
  color: white;
  font-weight: bold;
  background-color: #0049b7;
}

#botonEnviar {
    cursor: pointer;
}

#botonEnviar:active {
    transition: 50ms linear;
    transform: scale(1.1);
  }


main form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main form input {
  border-radius: 5px;
  border-style: none;
  margin: 2%;
  padding: 0% 2%;
  width: 70%;
  height: 40px;
}
