#inputFoto {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#botones {
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
}

.boton {
  background-color: #1259c3;
  color: white;
  font-weight: bold;
  width: 30%;
}

main {
  display: flex;
  justify-content: center;
}

main form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

main form h2 {
  font-size: 24px;
  margin: 10px 0px;
}

main form input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

@media (min-width: 361px) {
  main form {
    width: 60%;
  }
}

@media (min-width: 769px) {
  main form {
    width: 40%;
  }
}
